// ============================================================
//  config.kdl — Niri (Protocolo de Estabilidade Máxima)
// ============================================================
hotkey-overlay {
    skip-at-startup
 hide-not-bound
}
input {
    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 200
        repeat-rate 35
    }
    mouse {
        accel-speed 0.2
    }
    focus-follows-mouse
}

output "HDMI-A-2" {
    mode "1920x1080@60.000"
    scale 1.0
    transform "normal"
}
//variaveis de ambiente
environment {
    XCURSOR_THEME "Adwaita"
    XCURSOR_SIZE "48"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORM "wayland;xcb"
    GDK_BACKEND "wayland,x11,*"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "niri"
    MOZ_ENABLE_WAYLAND "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=Niri" "XDG_SESSION_TYPE=wayland"
spawn-at-startup "waybar"
spawn-at-startup "udiskie"
// Exportar variáveis de ambiente essenciais para o D-Bus e systemd
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=niri"

// Aguardar que a interface ScreenCast do Niri esteja ativa antes de reiniciar o portal GNOME

spawn-at-startup "sh" "-c" "while ! busctl --user status org.gnome.Mutter.ScreenCast >/dev/null 2>&1; do sleep 0.2; done; pkill -f xdg-desktop-portal-gnome"

spawn-at-startup "sh" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "sh" "-c" "wl-paste --type image --watch cliphist store"
spawn-at-startup "sh" "-c" "cliphist wipe"
spawn-at-startup "/home/flix/.local/bin/toggle_teclado"
spawn-at-startup "sh" "-c" "awww-daemon --format xrgb && sleep 1 && awww img /home/flix/wallpapers/gaming.png"

spawn-at-startup "dbus-update-activation-environment" "--systemd" "XCURSOR_THEME=Adwaita" "XCURSOR_SIZE=48"

//binds(atalhos)
include "keybinds.kdl"

//layouts
include "layout.kdl"
