binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    // Aplicações
    Mod+T { spawn "kitty"; }
    Mod+Space { spawn "fuzzel"; }
    Mod+Y { spawn "kitty" "-e" "yazi"; }
    Home { spawn "sh" "-c" "kitty nvim"; }
    Menu { spawn "obsidian"; }


    //Navegação e Movimento (Setas)
    
    Mod+h  { focus-column-left; }
    Mod+j  { focus-window-down; }
    Mod+k    { focus-window-up; }
    Mod+l      { focus-column-right; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right      { focus-column-right; }
    
    //Foco dos Workspaces
    Alt+S { focus-workspace-down; }
    Alt+W { focus-workspace-up; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    // Mouse e Scroll
    Mod+WheelScrollDown       { focus-column-right; }
    Mod+WheelScrollUp         { focus-column-left; }
    Mod+Shift+WheelScrollDown { focus-window-down; }
    Mod+Shift+WheelScrollUp   { focus-window-up; }

    //Dividir a tela
    Mod+BracketLeft  { consume-window-into-column; }
    Mod+BracketRight { expel-window-from-column; }

    // Sistema
    F1 { spawn "systemctl" "hibernate"; }
    End { spawn "systemctl" "poweroff"; }
    Ctrl+Escape { spawn "sh" "-c" "killall waybar || LANG=pt_BR.UTF-8 LC_TIME=pt_BR.UTF-8 waybar"; }
    // Atalho para o histórico do Clipboard usando Fuzzel
    Alt+V  { spawn "sh" "-c" "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }
    // Screenshots
    Print { spawn "sh" "-c" "grim -g \"$(slurp)\" ~/Pictures/$(date +%Y-%m-%d_%H-%M-%S).png && wl-copy < ~/Pictures/$(date +%Y-%m-%d_%H-%m-%S).png"; }
    Mod+Print { spawn "sh" "-c" "grim ~/Pictures/$(date +%Y-%m-%d_%H-%m-%S).png && wl-copy < ~/Pictures/$(date +%Y-%m-%d_%H-%m-%S).png"; }

    // Audio - Protocolo de Compatibilidade Total
    // Teclas de Função (Fallback)
    F7  allow-when-locked=true { spawn "sh" "-c" "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    F8  allow-when-locked=true { spawn "sh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    F9  allow-when-locked=true { spawn "sh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }

    // Símbolos Multimídia
    XF86AudioRaiseVolume allow-when-locked=true { spawn "sh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "sh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "sh" "-c" "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }

    // Gestão de Janelas
    Mod+Escape {close-window;}
    Mod+F        { maximize-column; }
    Mod+Shift+F  { fullscreen-window; }
    Mod+V        { toggle-window-floating; }
    Mod+C        { center-column; }
    Mod+Minus    { set-column-width "-10%"; }
    Mod+Equal    { set-column-width "+10%"; }
    
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+E  { quit; }

}

